body {
	padding: 0 0 0 50px;
	font-family:Verdana;
}
#reservation {
	width: 600px;
}
.hidden {
	display: none;
}

/* Chart related ids/classes */
#moodPie {
	width: 400px;
	float:left;
}

#moodHistory {
	width: 400px;
	float:left;
}