body {
	padding: 0 0 0 50px;
	font-family:Verdana;
	color:white;
	background-image:url('../img/6-Seamless-Fabric-Textures-Thumb01.jpg');
}

h1 {
	font-size:26px;
}

#reservation {
	width: 600px;
}

#formBox {
	width:800px;
	padding:15px;
	border:dotted 2px white;
	margin-bottom: 14px;
}

#moodBox {
	width:800px;
	padding:15px;
	border:dotted 2px white;
	margin-bottom: 14px;
}

#chartBox {
	width:800px;
	height: 360px;
	padding:15px;
	border:dotted 2px white;
}

.hidden {
	display: none;
}


/* Chart related ids/classes */
#moodPie {
	width: 400px;
	float:left;
}

#moodHistory {
	width: 400px;
	float:left;
}

#moodHistoryOptions {
	width: 400px;
	float:right;
	margin-top:5px;
}